* {
    text-align: center;
}

.articleListCard {
    border: 1px solid;
    border-color: blue;
    max-width: 400px;
}

ul {
    list-style-type: none;
}

.articleCardImg {
    max-width: 200px;
    max-height: 200px;
}

.NavBar {
    align-self: center;
    border: 1px solid;
    border-color: cornflowerblue;
}

.detailedArticleCardImg {
    max-width: 400px;
    height: auto;
}

.commentListCard {
    border: 1px solid;
    border-color: darkgray;
    width: 80%;
}

#center {
    margin: auto;
}

#commentInput {
    width: 50%;
}